numpy
pandas
plotly
numpy-financial
streamlit
openpyxl
python-docx
fpdf
pypdf
requests
fastapi
uvicorn
google-auth
email-validator
pypdf
passlib[bcrypt]
python-jose
python-multipart
bcrypt==4.0.1
email-validator
